@font-face {
    font-family: 'BM HANNA 11yrs old';
    src: url('BMHANNA11yrsold.eot');
    src: url('BMHANNA11yrsold.eot?#iefix') format('embedded-opentype'),
        url('BMHANNA11yrsold.woff2') format('woff2'),
        url('BMHANNA11yrsold.woff') format('woff'),
        url('BMHANNA11yrsold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BM HANNA Air';
    src: url('BMHANNAAir.eot');
    src: url('BMHANNAAir.eot?#iefix') format('embedded-opentype'),
        url('BMHANNAAir.woff2') format('woff2'),
        url('BMHANNAAir.woff') format('woff'),
        url('BMHANNAAir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BM JUA';
    src: url('BMJUA.eot');
    src: url('BMJUA.eot?#iefix') format('embedded-opentype'),
        url('BMJUA.woff2') format('woff2'),
        url('BMJUA.woff') format('woff'),
        url('BMJUA.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BM KIRANGHAERANG';
    src: url('BMKIRANGHAERANG.eot');
    src: url('BMKIRANGHAERANG.eot?#iefix') format('embedded-opentype'),
        url('BMKIRANGHAERANG.woff2') format('woff2'),
        url('BMKIRANGHAERANG.woff') format('woff'),
        url('BMKIRANGHAERANG.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BM DoHyeon';
    src: url('BMDoHyeon.eot');
    src: url('BMDoHyeon.eot?#iefix') format('embedded-opentype'),
        url('BMDoHyeon.woff2') format('woff2'),
        url('BMDoHyeon.woff') format('woff'),
        url('BMDoHyeon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BM HANNA Pro';
    src: url('BMHANNAPro.eot');
    src: url('BMHANNAPro.eot?#iefix') format('embedded-opentype'),
        url('BMHANNAPro.woff2') format('woff2'),
        url('BMHANNAPro.woff') format('woff'),
        url('BMHANNAPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BM YEONSUNG';
    src: url('BMYEONSUNG.eot');
    src: url('BMYEONSUNG.eot?#iefix') format('embedded-opentype'),
        url('BMYEONSUNG.woff2') format('woff2'),
        url('BMYEONSUNG.woff') format('woff'),
        url('BMYEONSUNG.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

